@import "../../vars.css";

.container{
    position: relative;
    background: rgba(12,12,12,0.6);
    border-radius: 15px;
    padding: 73px;
    margin-top: 129px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
}
.title{
    
}